@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: left;
  overflow-x: hidden;
}

section {
  min-height: 70%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
a {
  font-family: "Oswald", sans-serif;
  ;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

h2 {
  color: #5d7177
}

h3 {
  font-size: 40px;
  padding-top: 8%;
  margin-bottom: 5px;
  margin: 0;
}

h4,
p {
  font-family: "Oswald", sans-serif;
  ;
  color: #494949;
}

hr {
  width: 30px;
  height: 3px;
  background: #494949;
  border: 0;
  margin: 0 auto 40px auto;
}

#logo,
li,
img,
.button {
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms
}

.fa-align-justify {
  display: none;
}

/*HEADER******************************/

nav {
  background-color: white;
  padding: .8em 0;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  max-width: 100%;
  z-index: 3;
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.1);
}

nav .nav-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 3em;
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav .nav-start img {
  height: 3.4em;
}

nav .nav-end {
  padding: 6px;
  padding-right: 2em;
  justify-content: flex-end;
  align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

nav .nav-end ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  margin: .8em;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.6em;
}

nav .nav-end ul li a {
  text-decoration: none;
  color: black;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

nav .nav-end ul li a:hover {
  color: #979797;
}

@media all and (max-width: 1000px) {

  /*navigationBar*/
  nav {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav .nav-start {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  nav .nav-end ul {
    display: none;
  }
}




/*Impressum******************************/
body {
  background: url(../img/webp/clinic.webp);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.impressum {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 3em;
  width: 60%;
  max-width: 50em;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
}

@media all and (max-width:880px) {
  .impressum{
    width: 80%;
  }
}

.impressum p {
  max-width: 80em;
  font-family: "Oswald", sans-serif;
  ;
}

.impressum strong {
  text-align: center;
  font-size: 1.2em;
  font-family: "Oswald", sans-serif;
  ;
}


/*FOOTER******************************/

footer {
  position: relative;
  padding-top: 3em;
  height: 70px;
  background-color: #3f3f3f;
  padding-top: 0.1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 12px;
  color: #f0f0f0;
}

/* Media Queries ******************************/

/* Tablets */

@media screen and (max-width: 1024px) {
  #home h1 {
    font-size: 90px;
    margin-top: 200px;
  }

  #home h2 {
    font-size: 22px;
  }

  h3 {
    padding-top: 12%
  }
}

/* Mobile */

@media screen and (max-width: 480px) {
  #logo {
    width: 90px;
    margin-left: 30px;
  }



  .fa-align-justify {
    font-size: 17px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: right;
    margin: -25px 30px 0 0;
  }

  .fa-align-justify {
    opacity: 0.5;
  }
}